<nav class="navbar navbar-expand navbar-light bg-light mb-3 py-1">
  <div class="container">
    <svg width="42" height="42">
      <a class="navbar-brand" href="/">
        <image x="-3.6" y="-3.6" width="120%" height="120%" href="/images/hitechLogo.png"></image>      
      </a>
    </svg>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">메인</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">소개</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link">글보기</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(isAuthenticated){ %>
          <li class="nav-item"><a href="/users/<%= currentUser.username %>" class="nav-link">My Account</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/users/new" class="nav-link">가입하기</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">로그인</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
